.env
*pyc
dockerfile
*/migrations/*
__pycache__
**/.DS_Store
/history
/staticfiles_build/
*/.manage.py
*/migrations/*.py
!*/migrations/__init__.py
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
